.loginsignup{
    background:#fce3fe;
    padding-top: 10vh;
    padding-bottom: 10vh;
}
.loginsignup-container{
    width: 45vw;
    background: white;
    margin: auto;
    padding: 40px 60px;
}

.loginsignup-fields{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.loginsignup-fields input{
    height: 7vh;
    width: 100%;
    padding-left: 20px;
    border: 1px solid #c9c9c9;
    outline: none;
    color: #5c5c5c;
    font-size: 18px;
}
button{
    margin-top: 5vh;
}
p{
    color: red;
}
.formData p{
    color:black;
}
.loginsignup-login{
    margin-top: 20px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;
}

.loginsignup-login span{
    color: #ff4141;
    font-weight: 600;
    cursor: pointer;
}

.loginsignup-agree{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 2vh;
    font-size:18px;
    font-weight: 500;
    gap: 20px;
    color: #5c5c5c;
}

.loginsignup-agree input{
    width: 1vw;
    height: 3vh;
}
.formData{
    margin-top: 5vh;
}
